{% extends 'layout.html' %}
{% block content%}
{% load static%}
<header class="row bg-white">
    <div class="col-md-4">
    </div> 
    <div class="col-md-8 my-auto">
    <h1><strong>Paul cruz</strong></h1>
    <h3> Soy un estudiante de la ULEAM </h3>
    <p style="text-align: justify;"></p>
    <a href="{% static 'buggati.pdf'%}"class="btn btn-primary btn-lg rounded-0 my-3">Descarga aquí</a>

    <div class="col-md-8">
    <text-align"left"><img src="{% static 'img.jpg'%}" alt="" width="500" height="500">
    </div>
</div>

</header>

<div class="row my-4 text-center">
<h3>My Projects</h3>
<p>mis pequeños proyectos.</p>

    {% for project in projects %}

<div class="col-md-3 p-3" >
    <div class="card bg-white card-project">
        <div class="card-body">
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
                <img src="{{project.image.url}}" alt="{{project.title}}"class="card-img-top" >

                {% if project.url %}
                <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{project.url}}</a>
            {% endif %}
        </div>
    </div>

</div>



{%endfor %}
{% endblock %}
</div>